h1, h3, h4, h5 a, .labelWW, h5, h6, .more-link a,.fourBlockTitle, .panel-title a,.image_overlay .description, .views-field-field-tipogioco { font-family: 'casinoRegular'; font-style: normal; font-weight: normal; }
p { font-family: 'lato'; font-style: normal; font-weight: 500; }
span, a { font-family: 'lato'; font-style: normal; font-weight: 400; }
