h3 { font-family: 'casinoRegular'; font-style: normal; font-weight: normal; }
p { font-family: 'lato'; font-style: normal; font-weight: 500; }
span, a { font-family: 'lato'; font-style: normal; font-weight: 400; }
