
/*h1 {
    font-size: 5.7vw;
}
h2 {
    font-size: 4.0vw;
}
h3 {
    font-size: 2.8vw;
}
p, span, a {
    font-size: 1.5vw;
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}*/

/* Mobile Paralax*/
.beforetest, .aftertest{
    height: 300px;
    background: white;
    z-index: 2
}

.containertest{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: white;
    position: relative;
}

.containertest .mobile-pralax-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    bottom: 0;
    clip: rect(0,auto,auto,0);
}

.containertest .mobile-pralax-container .img{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: translate3d(0px,0,0);
}

.landscape{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.mb_YTPlayer {
    display: block!important;
}
/* Edit Event Form */
.group-mobile {
    background-color: #60bbe6;
    padding: 20px;
}
.navbar-right a:hover {
    color: var(--oro);
}
 .page-box-content {
    background-image: url('/sites/all/themes/progressive/img/trama.png');
     background-color: #ffffff;
}

.view-footer {
    padding: 10px;
    border: 2px solid #847552;
    text-align: center;
    width: 40%;
    margin: 60px auto 20px auto;
}
#block-views-eventlist-block-6 .view-footer,
#block-views-eventlist-block-9 .view-footer{
    width: 50%;
}
.page-box-content {
    background-size: 1000px;
}

.titleViewFooter,
.titleViewFooter:hover{
    text-decoration: none;
}


 .front .nd-region,
 .page-node-377 .nd-region,
 .page-node-419 .nd-region,
 .page-node-428 .nd-region{
     padding-top: 0px;
 }

 #block-block-34 .title-box,
 #block-block-32 .title-box,
 #block-block-33 .title-box,
 #block-block-35 .title-box,
 #block-block-36 .title-box,
 #block-block-37 .title-box,
 #block-views-eventstop-block .title-box{
     display: none;
 }
/* Colors */
html{
    --oro:#847552;
}
.view-id-PromozioniUtente .view-content, .myoffers, .mymessage,#user-profile-form  .fieldset-legend,
#user-profile-form #edit-account label,
#user-profile-form .help-block
{
    color: var(--oro);
}
.bordoBottom {
    border-bottom: 2px solid var(--oro);
}
.bordoBottom8 {
    border-bottom: 5px solid var(--oro);
}
.bordoTop {
    border-top: 2px solid var(--oro);
}
.fixed-header .header-wrapper,
.BlogDate,
.sidebar .tags a,
#sidebar .view .item-list ul li:hover,
.lineaoro,
.title-box:before,
.field-name-field-headercontent p,
.a2a_svg,
.EventsGamesTop p,
.image_overlay .description,
.TitoloHeader,
.table > thead > tr.testa > th,
td.danger, .table > tbody > tr > td.intestazioneRiga,
input.webform-submit.button-primary.btn.form-submit{
  background-color: #847552!important;  /* oro #847552 */
}
.webform-submit {
    padding: 4px 20px;
}
.contentRightSidebar {
    margin-left: 50px;
}

.contenitoreTabella td {
    background-color: #eeece7;
    border: 1px solid white;
}
.contenitoreTabella .primaRiga td{
    background-color: #c1baa8;

}
.margine50 {
    margin: 50px;
}

.table > thead > tr.testa > th,
td.danger, .table > tbody > tr > td.intestazioneRiga {
    color: white;
}

td.danger, .table > tbody > tr > td.intestazioneRiga {
    font-weight: bold;
}
.page-node-285 .field-name-body {
    background: white;
    padding: 30px;
}
.view-eventstop p {
    display: none;
}
.TitoloHeader {
    text-align: center;
    position: relative;
    padding: 15px 50px 10px 50px;
    margin: 0 auto;
    /*width: 30%;*/
    display: inline;
    top: -41px;
   color: white;
    z-index: 10;
}
.headerInList .content-block,
.view-eventlist .content-block,
.view-eventstop .content-block,
.col-xs-5.col-md-3 .content-block{
    padding: 0px;
}


.node-type-events h3,
.node-type-tournaments h3,
.node-type-promo h3,
.wrapping-events-icons .field-label-above b,
.title-box .title,
.badgeEvents,
h5 a,
.linkEvent a,
.labelWW,
.more-link a, .item-list li a:hover,
.body-margin-bottom a,
#block-block-32 h6,
#block-block-33 h6,
.introGame+a,
.introGame a,
.panel-group .panel .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a:hover,
.caption+div h4,
#block-block-32 h5,#block-block-33 h5,
#block-block-32 a:before, #block-block-33 a:before,
#block-block-32 a, #block-block-33 a,
.views-field-field-tipogioco,
#block-block-35 h5,
#block-block-36 h5,
#block-block-37 h5,
.titleViewFooter,
#Footer-Top i,
.coloreOro,
.coloreOro a,
.coloreOro a:hover,
.webform-client-form,
#block-block-42 label,
.header .primary .navbar .nav > li:hover > a,
.header .primary .sub a,
.node-type-contenitorepagina h4 a,
.node-type-contenitorepagina h4 a:hover,
.page-node-391 h5,
.page-node-418 h5,
.page-node-459 h5,
.gallery-images:hover .bg-images i:before
    ,h1, h2,
.campaign-social-header,
#sidebar .view .item-list ul li a:before,
h6,
.node-type-page #Content a,
.search-result a,
.phone-active a,
.close:hover,
#mce-responses a,
.archivio h2 a,
.page-taxonomy #Content h2 a
{
    color: var(--oro)!important;
}
.centra {
    text-align: center;
}
.search-result .search-form .search-submit svg path,
.search-active .search-submit svg path{
    fill:var(--oro)!important;
}
.search-result a {
    font-family: 'casinoRegular';
}
.title-box .title, h5 {
    font-size: 20px;
    font-weight: bold!important;

}
h1 {
    font-weight: bold!important;
}
.bordoOro {
    border: 1px solid var(--oro);
    padding: 10px 20px;
}
.altezzaDress {
    height: 260px;
    margin-bottom: 50px;
}
.view-display-id-block_1 .views-field-nid {
    margin: 20px 0px;
    text-align: center;
}

/* Newsletter */
#mc-embedded-subscribe {
    margin-top: 20px!important;
    background-color: var(--oro)!important;
}
.mc-field-group.input-group {

    min-height: 20px!important;
}
.mc-field-group {
    padding-bottom: 0px!important;
}
.mc-field-group.input-group ul{
    float: left;
}
.mc-field-group.input-group p,
.mc-field-group.input-group label{
    display: none!important;
}

/* Blocco Info  Sede*/
.rigaInterna
{
    background-color: white;
}

.contenitoreBianco,
.rigaInterna,
#block-block-42 .block-content,
#block-views-fourblock-block-3,
#block-views-eventlist-block-6,
#block-views-eventlist-block-9,
#block-views-fourblock-block-6{
    padding: 50px;
}

.node-type-sede .contenitoreBianco {
    margin-bottom: 50px;
    padding: 50px!important;
}

#block-block-32,
#block-block-33{
    margin-top: 20px;
}
#block-block-32 h5,
#block-block-33 h5,
#block-block-33 p,
#block-block-32 p,
#block-views-orarisedi-block .title-box,
#block-views-orarisedi-block-1 .title-box{
    margin-bottom: 0px;
}
#block-block-33 h6,
#block-block-32 h6{
    margin-bottom: 0px;
}
.iconaBloccoSedi+h5,
.title-box.title-h5{
 margin-bottom: 9px!important;
}
 #block-views-slotcalendar-block h6,
#block-views-slotcalendar-block-1 h6{
    text-align: center;
}
.view-display-id-block_1 .views-field-body p {
    text-align: justify;
}
.view-slotcalendar h6 {
    margin: 10px 0px;

}
.caption .description {
    text-align: center;
    font-size: 20px;
    color: var(--oro);
    font-family: 'casinoRegular';
}
#block-views-gallery-block-1,
#block-views-gallery-block-2{
    text-align: center;
}
#block-views-gallery-block-1 .title-box,
#block-views-gallery-block-2 .title-box{
    margin-bottom: 0px;
}
/* eventsTop */
#block-views-eventstop-block {
    margin-bottom: -30px;
}
.view-eventstop {
    text-align: center;
}
.view-eventstop .caption+p,
.view-eventstop .video-box+p,
.view-eventstop .block-md-slider+p{
    margin-bottom: 0px;
}

.view-eventstop #section05 {
    left: 50%;
    position: absolute;
    bottom: 300px;
    z-index: 100;
}
.view-eventstop .caption {
    display: block;
    margin-bottom: 0px;
}
.view-eventstop .caption img{
    width: 100%;
    margin: 0px;
}


.view-orarisedi .views-row-1 {
    margin-bottom: 20px;
}
.page-node-378 .block-block p{
    margin-top: -5px;
}
.page-node-378 .block-block .iconaBloccoSedi
{
    margin-bottom: 5px;
}
.page-node-378 .block-block a{
    text-decoration:none;
}

.page-node-378 .block-block a:hover{
    text-decoration:underline;
}


/* Lets add an arrow after each link */
.page-node-378 .block-block a:before {

    content: "\2192"; /* Unicode hex for &raquo; */
}
/*  */
.panel-title a {
    font-size: 16px;
}
.page-node-378 .block-block h6{
    font-weight: bold;
}

.colonna-event-list a{
    color: black!important;
}
/* Sidebar */
.sidebar .widget {
    margin: 0 0 30px;
}
.sidebar .title-box {
    margin-bottom: 10px!important;
}
.header .primary .sub a {
 color:#8e8c8c;
}
#sliding-popup {
    opacity: 0.8;
}
.find-more-button {
display: none!important;
}
.field-name-field-headercontent p,
.EventsGamesTop p{
    color: white;
    font-size: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.field-name-field-headercontent>div>div,
.EventsGamesTop>div>div,
.view-eventstop .content-block,
.image_overlay img,
.bordoBottom8,
.page-node-387 div#content.col-md-12,
.page-node-376 #content,
.page-node-444 #content,
.page-node-445 #content

{
    border-bottom: 5px solid #847552;
}
.page-node-376 #block-views-eventlist-block-4,
.page-node-444 #block-views-eventlist-block-4,
.page-node-445 #block-views-eventlist-block-4,
.page-node-450 #block-views-eventlist-block-4,
.page-node-387 #block-views-eventlist-block-4,
.page-node-451 #block-views-eventlist-block-4,
.page-node-386 #content,
.page-node-452 #content,
.page-node-453 #content{
    margin-bottom: 50px;
}
.page-node-387 div#content.col-md-12 {
    padding-bottom: 50px;
}
.page-node-376 #content {

    padding-top: 30px;
    background-color: white;
}

.rigaInterna,
#block-views-eventlist-block-1,
.node-type-game #block-views-eventlist-block-4,
.node-type-contenitorepagina #block-views-eventlist-block-4,
#block-views-fourblock-block-4,
#block-views-fourblock-block-5{
    border-top: 5px solid #847552;
    border-bottom: 5px solid #847552;
}

.view-eventstop .content-block {
    margin-bottom: -2px;
}

#block-views-fourblock-block-4,
#block-views-fourblock-block-5 {
    border-top: 5px solid #847552;
    background-color: white;
}
#block-views-fourblock-block-4 .title-box,
#block-views-fourblock-block-5 .title-box {
    margin-bottom: 0px;
}
#block-views-fourblock-block-4 .block-content,
#block-views-fourblock-block-5 .block-content {
    padding-left: 30px;
    padding-right: 30px;
}

.agree-button {
    background: none!important;
    border: none!important;
    box-shadow: none!important;
    color: white!important;
    text-shadow: none!important;
}
.breadcrumb {
    background: transparent;
}

.header .primary .navbar .btn-navbar .icon-bar {
    background-color: white!important;
}


.phone-header a svg path {
    fill:#d10000;
}
.laylah5 a, .laylap a, .BlogDate span, .policy a, .textwidget, .textwidget a
 {
    color:white!important;
}
 .black_box .our_history, .black_box .ultimate, .black_box .ultimate_text, .search-header a svg path,
 .social_wrapper ul li a {
  color: white;
}

 /*.nd-region > .container {
     background-color: #F2F2F2;
 }*/

.breadcrumb>li+li:before {
    content: ">";
}


footer.nd-region.footer-top,footer.nd-region.footer-bottom,
footer.nd-region.footer-top .container,
#block-progressive-cms-footer-copyright .row,
#progressive_cms-footer_copyright,
#top-box,
.black_box{
background-color: #252525!important;
}
.since {
    opacity:1;
    position: relative;
    top: -240px;
    color: #ffffff;
    color: #ffffff;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */

}
.titleSince {
    opacity:1;
    position: relative;
    top: -200px;
    color: #ffffff;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */

}


@keyframes fadein {
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes fadein { /* Firefox */
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
@-o-keyframes fadein { /* Opera */
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}
/* Blocco Dove giocare*/
.page-node-378 .block-block p,
.page-node-378 .block-block h6,
.page-node-378 .block-block h5

{
    margin-bottom: 0px;
}
/* Blocco Home */
.titoloHome {
    margin-bottom: -155px;
}

.titolo_riquadro {
    border: #fff;
    border-style: solid;
    color: #fff;
    display: inline-block;
    padding-bottom: 5px;
    padding: 6px 65px;
    font-weight: bold;
    font-size: 21px;

}
.slick-slide img, .slick-slide .field-slideshow {
    margin: 0 auto;
    margin-bottom: 5px;
}
.circleEventDate {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: table;
    top: -53px;
    left: 0px!important;
    z-index: 10;
    margin-bottom: -30px;
}
.circleEventDate span, .notify-badge span {
    display:table-cell;
    vertical-align:middle;
    color: #847552;
    font-weight: bold;
    text-align: center;
    font-size: 14px;

}
.fourBlockTitle {
    margin-bottom: 20px;
    color: black;
    font-size: 13px;
}
.slick-slide img { /* Universal settings */
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}
.slick-slide img:not(:hover) {
    -webkit-filter:sepia(100%) brightness(110%) contrast(150%);
    -moz-filter:sepia(100%) brightness(110%) contrast(150%);
    -ms-filter:sepia(100%) brightness(110%) contrast(150%);
    -o-filter:sepia(100%) brightness(110%) contrast(150%);
    filter:sepia(100%) brightness(110%) contrast(150%);
}
.slick-slide img:hover {
    -webkit-filter:sepia(0%) brightness(100%) contrast(100%);
    -moz-filter:sepia(0%) brightness(100%) contrast(100%);
    -ms-filter:sepia(0%) brightness(100%) contrast(100%);
    -o-filter:sepia(0%) brightness(100%) contrast(100%);
    filter:sepia(0%) brightness(100%) contrast(100%);
}
.lineaoro p, .video-box{
    margin-bottom: 0px;
}
.slick-prev {
    background-image: url( '/sites/all/themes/progressive/img/back.png' )!important;
}
.slick-next {
    background-image: url( '/sites/all/themes/progressive/img/next.png' )!important;
}
.slick-prev, .slick-next {
    background-size: 30px 30px!important;
    height: 30px!important;
    width: 30px!important;
}
.slick-dots {
    bottom: -22px;
}
/*Blocco orari*/
#block-views-orari-block, #block-views-orari-block-1, #block-views-slothome-block {
    font-family: 'cinzel';
    font-size: 20px;
    color: white;
    position: relative;
}
#block-views-orari-block,#block-views-slothome-block, #block-views-orari-block-1 {
    float: left;
    margin-left: 100px;
}
#block-views-orari-block-1 {

    margin-right: 100px;

}
/* Tabella promozioni utente*/
.page-user #views-slider_4_cols-block h4 {
margin-bottom: 0px;
    padding-left: 42px;
}
.page-user #sidebar {
margin-top: 60px;
}
.page-user #Content{
    margin-top: 40px;
    padding-top: 10px;
}
.page-user .tabs.primary {
    padding-left: 0px;
}
.page-user .tabs.primary li.active, .page-user #block-system-main{
    padding: 15px 42px 0 42px;
    background: white;
    -webkit-box-shadow: 0px 0px 15px #959492;
    -moz-box-shadow: 0px 0px 15px #959492;
    box-shadow: 0px 0px 15px #959492;
}
.page-user .tabs.primary li {
    padding: 15px 42px 0 42px;
    background: none;
    margin-right: 0px;
    border: none;
}
.tabs.primary li > a {
    background: none;
    color: #d36116;
    font-weight: bold;
}
.page-user .page-box .page-box-content  .main + .nd-region {
    background: url("/sites/default/files/chemin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.page-user .tabs.primary {
overflow: hidden;
}
.page-user #Content {
    background: url(/sites/default/files/bkg-content.png) top center repeat-x;

}
.page-user .caroufredsel_wrapper, .page-user h4 {
    background: white;
}
#user-profile-form .fieldset-legend, #user-profile-form #edit-account label {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.3;
 }
#user-profile-form .fieldset-wrapper .help-block {
margin-top: 0px;
}
.view-id-PromozioniUtente .view-content {
    float: left;
    position: relative;
    margin: 0 0 20px 0;

    width: 100%;
    /* min-height: 968px; */
    background: #fff;

}

.view-id-PromozioniUtente .views-table {
    float: left;
    clear: left;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: left;
    border-top: #be945e 1px solid;
}
.view-id-PromozioniUtente .views-table thead th {
    height: 36px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #a77c43;
    background: #f3ebd9;
}
.view-id-PromozioniUtente .views-table td {
    padding: 0 20px 0 0;
    height: 50px;
    vertical-align: middle;
    font-size: 14px;
    color: #6d381b;
    border:none;
    border-bottom: #efe4cd 1px solid;
}
/* Blocco EventList */
#block-views-eventlist-block-1 .title-box,
#block-views-eventlist-block-2 .title-box,
#block-views-eventlist-block-4 .title-box,
#block-views-eventlist-block-5 .title-box,
#block-block-42 .title-box{
    text-align: center;
}
#block-views-eventlist-block-1,
.node-type-game #block-views-eventlist-block-4,
.node-type-contenitorepagina #block-views-eventlist-block-4,
#block-views-fourblock-block-5{
    background: white;
}
#block-views-eventlist-block-1 {
    border-top: 5px solid var(--oro);
}
.node-type-game #block-views-eventlist-block-4,
.node-type-contenitorepagina #block-views-eventlist-block-4,
#block-views-fourblock-block-5{
    margin-top: 50px;
}
.page-node-377 #block-views-eventlist-block-1,
.page-node-419 #block-views-eventlist-block-1,
.page-node-428 #block-views-eventlist-block-1{
    background: transparent;
    border: none;
}
#bottom {
    padding-left: 0px;
    padding-right: 0px;
}


/* Blocco GameList*/
.introGame+a,
.introGame a{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.view-display-id-block_2 .col-md-3 {
    text-align: center;
}
.introGame{
    text-align: justify;
}
.rigaBloccoInfo,
.views-field-field-hold-text,
.views-field-field-rtp-text{
    margin-bottom: 20px;
}
.rigaBloccoInfo .views-field-field-titolo {
    font-weight: bold;
}
.views-field-field-hold .field-content,
.views-field-field-rtp .field-content,
.views-field-field-cagnotte .field-content
{
    display: inline;
}
#block-views-dovegiocare-block:before {
    content: url(/sites/default/files/dove.svg);
    display: block;
    width: 25px;
    height: 36px;

}
#block-views-orari-apertura-block:before,
#block-views-orarisedi-block:before,
#block-views-orarisedi-block-1:before{
    content: url(/sites/default/files/time.svg);
    display: block;
    width: 30px;
    height: 30px;
}
#block-views-orari-apertura-block:before,
#block-views-orarisedi-block:before,
#block-views-orarisedi-block-1:before,
#block-views-dovegiocare-block:before,
#block-views-probabilit-di-vincita-block:before,
.iconaBloccoSedi{
    margin-bottom: 10px!important;
}

#block-views-orari-apertura-block p,
#block-views-orarisedi-block p,
#block-views-orarisedi-block-1 p,
#block-views-dovegiocare-block p,
#block-views-probabilit-di-vincita-block p,
.rigaBloccoInfo{
    text-align: left;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 1px;
}
#block-views-probabilit-di-vincita-block:before {
    content: url(/sites/default/files/percent.svg);
    display: block;
    width: 30px;
    height: 30px;
}
.image_overlay {
    margin-bottom: 35px!important;
}
.map-box {
    margin-bottom: 25px;
}
.image_overlay .description {
    text-align: center;

    font-size: 23px!important;
    line-height: 22px;
    padding: 15px 50px 10px 50px!important;
    margin: 0 70px;
}

.BloccoBody,
.node-type-contenitorepagina #block-views-orarisedi-block,
.node-type-contenitorepagina #block-views-orarisedi-block-1
{
    padding: 40px;
    background-color: white;
    margin: 40px;
    font-size: 16px;
}
.page-node-381 #block-views-orarisedi-block,
.page-node-381 #block-views-orarisedi-block-1,
.page-node-464 #block-views-orarisedi-block,
.page-node-464 #block-views-orarisedi-block-1,
.page-node-466 #block-views-orarisedi-block,
.page-node-466 #block-views-orarisedi-block-1,
.page-node-381 #block-block-40,
.page-node-381 #block-block-41--2,
.page-node-464 #block-block-40,
.page-node-464 #block-block-41--2,
.page-node-466 #block-block-40,
.page-node-466 #block-block-41--2
 {
    margin: 50px 0;
    padding: 0px;
}

.title-box.title-h3{
    margin-bottom: 10px;
}

.node-type-sede #block-block-41,
.node-type-sede #block-block-40{
    padding: 50px;
    background-color: white;
    margin-top: 50px;
    font-size: 15px;
    line-height: 24px;

}
.node-type-sede #block-block-41 {
    margin-bottom: 50px;
}
.BloccoBody {
    height: 270px;
}

.panel-group > .panel-default > .panel-heading > .panel-title > a,
.panel-group .active.panel > .panel-heading > .panel-title > a,
#block-block-42 .block-content{
    background-color: #ffffff!important;
}
.panel-group .panel .panel-heading > .panel-title > a:before,
.panel-group .panel .panel-heading > .panel-title > a:after {
    content: url(/sites/default/files/apri.svg)!important;
    display: block;
    width: 25px;
    margin: 8px 0 0 15px;
    height: 0px;
}

.panel-group .active.panel > .panel-heading > .panel-title > a:before,
.panel-group .active.panel > .panel-heading > .panel-title > a:after{
    content: url(/sites/default/files/chiudi.svg)!important;
}

    /*Eventi*/
.node-type-events h3,
.node-type-tournaments h3,
.node-type-promo h3{
    margin-top: 30px;
}
.node-type-events #content,
.node-type-events #sidebar,
.node-type-sede #sidebar,
.node-type-promo #content,
.node-type-promo #sidebar,
.node-type-tournaments #content,
.node-type-tournaments #sidebar,
.node-type-contenitorepagina #content,
.node-type-contenitorepagina #sidebar,
.node-type-game #content,
.node-type-game #sidebar,
.contenitoreBianco,
#block-views-eventlist-block-6,
#block-views-eventlist-block-9,
#block-views-fourblock-block-3,
#block-views-fourblock-block-6
{
    background-color: white;
}
.page-node-392 #block-block-33,
.page-node-462 #block-block-33,
.page-node-460 #block-block-33,
.page-node-461 #block-block-33{
    margin-top: 0px;
}
.page-node-392 .contenitoreBianco,
.page-node-462 .contenitoreBianco,
.page-node-460 .contenitoreBianco,
.page-node-461 .contenitoreBianco{
    padding-top: 0px;
}
.page-node-391 #block-views-eventlist-block-1,
.page-node-418 #block-views-eventlist-block-1,
.page-node-459 #block-views-eventlist-block-1{
    margin-bottom: 50px;
}
.page-node-391 #content,
.page-node-392 #content,
.page-node-460 #content,
.page-node-461 #content,
.page-node-462 #content,
.page-node-418 #content,
.page-node-459 #content,
.page-node-381 #content,
.page-node-464 #content,
.page-node-466 #content,
.page-node-385 #content,
.page-node-426 #content,
.page-node-436 #content{
    background-color: transparent;
}
.page-node-391 #content,
.page-node-418 #content,
.page-node-459 #content,
.page-node-460 #content,
.page-node-461 #content,
.page-node-392 #content,
.page-node-462 #content{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
}

.contenitoreTabellaOrari {
    background-color: white;
    display: inline-block;
    padding: 20px;
}
.page-node-385 h4 {
    margin-bottom: 0px;
}
.node-type-events #sidebar,
.node-type-sede #sidebar,
.node-type-tournaments #sidebar,
.node-type-promo #sidebar,
.node-type-contenitorepagina #sidebar,
.node-type-game #sidebar,
.node-type-sede #sidebar{
    padding: 55px 30px 30px 30px;
}
.node-type-events #content,
.node-type-promo #content,
.node-type-tournaments #content,
.node-type-contenitorepagina #content,
.node-type-game #content
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    margin-top: 50px;
}
.page-node-381 #content,
.page-node-464 #content,
.page-node-466 #content{
    margin-top: 0px;
}
.zeroPadding {
    padding-left: 0px;
    padding-right: 0px;
}

.links.inline {
    padding-left: 0px;
}
.node-type-sede #content #block-system-main {
    margin-top: 30px;
}
.wrapping-events-icons {
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#block-views-fourblock-block-3,
#block-views-fourblock-block-6{
    margin-bottom: 40px;
}
.wrapping-events-icons .field-label-above b {
    display: block;
    line-height: 3px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 20px;

}
.campaign-social-header,.wrapping-events-icons .field-label-above b {
    letter-spacing: 1px;
}
.field-name-field-eventdate .date-display-single,
.field-name-field-eventdate .date-display-range,
.field-name-field-where a{
    font-size: 14px;
    color: black;
}
.node-type-events .field-label-above,
.node-type-tournaments .field-label-above,
.node-type-promo .field-label-above{
    margin-left: 65px;
    line-height: 18px;
}
.field-label-above {
    font-size: 20px;
}


.field-label-above .colon, b .colon{
    display: none;
}
.events-icons, .events-icons-dove {
    width: 45px;
    float: left;
}
.events-icons-dove {
    width: 35px;
}
.events-icons a svg path, .events-icons-dove a svg path {
     fill: #847552;
}
.wrapping-events-icons a:hover, .wrapping-events-icons a:focus {
    text-decoration: none;
}
.blink_me {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.2; }
}

.field-name-field-images-events,
.marginiTopBottom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-node-220 .rigaInterna {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-image: url('/sites/all/themes/progressive/img/trama.png');
    background-size: 1000px;

}

.title-box {
    border: none;
}
.view-display-id-block_4 .slick-list{
    padding-bottom: 20px;
}



.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    left:10px;
    bottom:-20px;
    background: #ffffff;
    text-align: center;
    color:white;
    padding:18px 10px;
    z-index: 10;
    border-style: solid;
    border-color: #847552;
    border-width: 2px;
    border-radius: 50%;
}


#block-views-fourblock-block-4 .title-box,
#block-views-fourblock-block-5 .title-box,
#block-views-eventlist-block-6 .title-box,
#block-views-fourblock-block-3 .title-box,
#block-views-fourblock-block-6 .title-box,
#block-views-eventlist-block-9 .title-box,
.fourBlockTitle{
    text-align: center;
}

.colonna-event-list img {
    margin-right: 10px;
}
.body-margin-bottom {
    margin-bottom: 7px;
    line-height: 20px;
}
/* Black style */
.node-type-event  .breadcrumb-box {
    background: black;

}
.node-type-event .breadcrumb {
background: inherit;

}
.node-type-event .breadcrumb li a, .node-type-event .breadcrumb li:before, .node-type-event .breadcrumb li{
    color: white;
}
/* Event List*/
h5 a{
    font-weight: bold!important;

}
.view-eventlist h5 {
    margin: 0 0 0 0;
}
.view-eventlist p {
    margin-bottom: 0px;
    text-align: justify;
}
.view-footer p {
    text-align: center;
}

.colonna-event-list .view-eventlist img {
    float: left;
    margin-right: 10px;
}
.iconaListEvents {
    width: 24px;
    margin-top: 2px;
    float: left;
}
.iconaListEventsWhen {
    width: 35px;
    margin-top: 2px;
    float: left;
}
.colonna-event-list {
    padding-left: 0px;
}
.labelWW {
    margin-bottom: -5px;
}
/* Event */
.node-type-event {
background-color: black;
    color: white;
}
.titolo-evento {
    position: relative;
    top: -24px;
    z-index: 10;
}
.node-event ul {
float: right;
}
.field-name-field-eventbritebutton {
float: left;
}

.node-type-event h2 {
    text-align: center;
}
.livicon.block {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}

/* Footer*/
#Footer-Top {
    text-align: center;
}
#Footer-Top h2 {
    color: white!important;
}
#Footer-Top .livicon.block {
    display: block;
}
#Footer-Top .social_wrapper {
    display: inline-block;
}
.footer-bottom {
border: 0px;
}
.policy {
font-size: 12px;
}
.textwidget, .textwidget i {
 font-size: 14px;
}

.footer-bottom .container,  .container_discover, .views-slideshow-controls-bottom, .footer-bottom .container {
    border-color: #d8d8d8;
}
.footer-bottom .container {
    border-top: 1px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nd-region > .container.followUs {
background-color: transparent;
}
#progressive_cms-footer_copyright .row
{
 margin-top: 10px;
}
.page-node-309 h2 {
    display: none;
}
.social_wrapper ul li a i, .social_wrapper.small ul li a i {
    line-height: 24px;
    font-size: 24px;
}

.social_wrapper ul {
    padding: 0px;
      margin: 0;
      text-align: left;
  }
.social_wrapper ul li{
    list-style: none;
    margin: 0 9px 10px 10px !important;
    float: left;
}

/* Webform*/
.webform-client-form-309 .minute, .webform-client-form-309 .hour{
    float: left;
    width: 60px!important;
}
.webform-container-inline.webform-datepicker  div.form-item.form-type-select {
    display: none;
}
.webform-component--nome {
    clear: left;
}
 /* jQuery Socialstream */
 .dcsns {
     border-radius: 0px;
 }
.stream li .section-intro {
    height: 32px;
}
/*Wine */
.container_wine {
    height: 200px;
    background-color: black;
    opacity: .6;
}

.container_wine .gold_title {
    font-size: 70px;
    margin-top: 50px;
}
.gold_title_sub {
    color: white;
}
.price-food {
    font-size: 20px;
    color: #333;
}
.subtitle-wine {
    color: #888;
    font-size: 14px;
    font-family: "open_sansregular";
    line-height: 2em;
}
.view-white-wine h3, .view-red-wine h3, .view-champagnes-wine h3 {
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    border-bottom: 2px solid #847552;
    font-family: "open_sansbold";
    color: #333;
    letter-spacing: 0.16em;
}
/* Menu*/
.menu-item-v2 {
    margin-bottom: 30px;
    overflow: hidden;
}
.menu-heading {
    width: 100%;
    float: left;
    display: block;
}
.menu-heading .titleApp {
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    float: left;
    position: relative;
    padding-right: 5px;
    font-family: 'cinzel';
}
.campaign-social-header {
    text-align: left;
    font-family: 'casinoRegular';
    font-size: 20px;
}
.menu-heading .titleApp:after {
    position: absolute;
    bottom: 8px;
    border-bottom: 1px dotted #847552;
    width: 1000px;
    content: "";
    left: 100%;
}
.menu-heading .price {
    float: right;
    color: #847552;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
    position: relative;
    z-index: 99;
    background: #fff;
    padding-left: 5px;
    line-height: 1;
}
.menu-des {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    float: left;
    width: 100%;
    text-align: left;
}

/*Blog*/
.BlogDate {
    padding: 5px 15px 5px 15px;
}

.BlogDate, .BlogTitle, .BlogAuthor, .BlogAuthorLabel {
    float: left;
}
.BlogAuthorLabel {
margin-right: 3px;
}
.BlogComment {
float: right;
}

.BlogTitle {
    margin-left: 20px;
    font-family: 'Cinzel';
}

.BlogDateLi {
margin-bottom: 30px;
}
.BlogDateLi .BlogImage, .BlogDateLi {
    clear: left;
}
.BlogM {
    text-align: center;
}

.BlogBody {
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}
/* Sidebar*/
#sidebar .view .item-list ul li {
    /*border-bottom: 1px solid #e9e9e9;*/
    overflow: hidden;
    line-height: 20px;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    margin: 0px;
    padding: 0px;
}

#sidebar .view .item-list ul li:last-child {
    border-bottom: 0px;
}

#sidebar .view .item-list ul li a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    float: left;
   /* width: 90%; */
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    color: #000000;
    outline: none;
}
.views-summary li {
    color: #9d9d9d;
    font-style: italic;
}
#sidebar .view .item-list ul li a:before {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    font-size: 5px;
    top: 2px;
    left: 0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#sidebar .view .item-list ul li a:hover {
    color: #fff!important;
    padding-left: 35px;
}
#sidebar .view .item-list ul li a:hover:before {
    color: #fff;
    left: 24px;
}

 /* jQuery Socialstream */
 .dcsns {
     border-radius: 0px;
 }
.stream li .section-intro {
    height: 32px;
}
.view-header h2 {
    text-align: center;
}
.campaign-social-header {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
#block-views-slotfocus-block-2 .title-box.title-h1

{
    text-align: center;
    display: block;
    font-family: 'Cinzel';
    margin-bottom: 0px;
}
#block-views-slotfocus-block-2 .title-box.title-h1 .title,

#block-views-taxonomy-block-1 .title-box.title-h3 .title,
#block-views-taxonomy-block .title-box.title-h3 .title {

    margin: 0px;
    padding: 0px;
    color: #333;
    border: none;

}
#block-views-slotfocus-block-2 .title-box:before,
#block-views-archive-block .title-box:before,
#block-views-taxonomy-block-1 .title-box:before,
#block-views-taxonomy-block .title-box:before,
.title-box:before
{
width: 0px;
}
#Footer-Top .title-box:before {
    width: 40px;
    background-color: white!important;
}
#Footer-Top h2.title {
    line-height: 40px;
}
#Footer-Top .title-h1 {
    display: none;
}
#Footer-Top p {
    margin-bottom: 0px;
    color: white;
    line-height: 17px;
    font-size: 15px;
}
#Footer-Top a {
    color: white;
}
#Footer-Top a:hover {
    text-decoration: none;
}
#Footer-Top .title-box {
    margin-bottom: 15px;
}
.firstLineFooter {
    border-bottom: 1px solid #7F7F7F;
}
.view-header p {
margin-bottom: 20px;
}

 /* Nav */
.clubcard {
    border: white;
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
}
li.clubcard-right a{
    border: white!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-left: 0px!important;
    border-bottom: 0px!important;
    border-top: 0px!important;
    border-radius: 0px!important;
}
.clubcard img {
    padding-top: 5px;
}
.phone-header a svg path {
    fill:#dd0000;
}
.search-header a svg path {
  fill: white!important;
}
.phone-header, .search-header {
    margin: 0px;
}
.fa {
    padding-right: 5px;
}
#block-block-31 .title-box
{
    display: none;
}

.phone-header {
    padding-top: 2px;
}
.search-header {
    padding-top: 8px;
}
#top-box {
	background-color: black!important;
}
.btn-group.btn-select .dropdown-toggle {
	height: 27px;
} 
.top-navbar .nav > li a .fa {
    font-size: 140%;
}
#top-box a {
    padding-top: 0px;
    padding-bottom: 0px;
 }

.field-name-body .col-md-4 {
    padding-top: 15px;
}
.field-name-field-image-event-field b {
  display: none;
}

.top-navbar .nav > li a {
    font-size: 14px;
 }
.header .primary {
    float: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;

}
 /* GAMES*/
 .node-type-game .title-box.title-h1 {
    display: none;
 }

#block-views-eventlist-block-4 .title-box.title-h1,
#block-views-eventlist-block-5 .title-box.title-h1{
    display: block;
}
.page-node-376 .caption {
    margin-bottom: 0px;
}
.page-node-376 .view-display-id-block_4,
.page-node-387 .view-display-id-block_4,
.view-display-id-block_5{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
.SlotFocus {
    text-align: center;
 }
 .views-field-field-titolofocus {
    margin-top: 10px;
    margin-bottom: 10px;
 }
 /*.views-field-field-videoslot .player {*/
    /*height: 207px;*/
 /*}*/
 .more-link {
    font-weight: bold;
    text-transform: uppercase;
     padding-left: 5px;
 }

 .ico {
    display: inline-block;
    vertical-align: middle;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    
    height: 9px;
    width: 5px;
    background-image: url(red-arrow-right.png);
    background-repeat: no-repeat;
    margin: -2px 0 0 5px;
}
 .views-field-counter{
    width: 10px;
    background: url(pager-grey.png) top left no-repeat;
    float: left;
    padding: 10px 8px;
}

.views-slideshow-pager-fields .active .views-field-counter{
    background: url(pager-red.png) top left no-repeat;
    width: 10px;
    float: left;
    padding: 10px 8px;
}
.views-content-counter {
    display: none!important;
}
 /* HOME */ 
 .container_discover {
    padding: 20px;
    border: 1px;
    border-style: double;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
}

 .black_box {
  background-color: black;
}
/* SlideShow */
.views-slideshow-pager-fields {
    /*margin: 0 auto;*/
    /*width: 15%;*/
    display: inline-block;
}

.views-slideshow-pager-fields > div{
    padding-left: 0px!important;
}

.views-slideshow-controls-bottom {
    border-style: solid;
    border-width:  1px 0 0 0;
    padding-top: 10px;
    margin: 0px 10px;

}

.views-slideshow-cycle-main-frame-row-item .views-field-body {
    line-height: 1em;
    font-size: 12px;
    margin-bottom: 15px;
}
.views-slideshow-cycle-main-frame-row-item .views-field-title {
    line-height: 1.3em;
    margin-bottom: 10px;
}
#sidebar .view-slotfocus, .dcsns {
    border-style: solid;
    border-top-color: transparent;
    border-top-width: 1px;

    border-bottom-width: 3px;
    border-bottom-color:#847552 ;
    background-color: #ffffff;
}
.dcsns{
    padding-right: 0px;
    padding-left: 0px;

}
.stream li {
    border: 0px;
}
.stream li .inner {
    padding: 0px;
}
#tb-megamenu-column-5 .views-field-field-titolofocus, #tb-megamenu-column-5 .views-field-field-introfocus{
    color: black;
}

.class_overlay_video {
    color: white!important;
    position: relative;
    top: -120px;
    width: 100%;
    height: 0px;
}

.row.home h1{

    color: white;
}
.gold_title {
    color: #847552;
    font-size: 50px;
    line-height: 0.8;
    padding-bottom: 15px;
}
.our_history {
    font-size: 50px;
    line-height: 0.8;
    margin-bottom: 10px;
}

.nd-region {
    padding: 0px;
    
}

.page-events, .page-promotions, .page-tournaments{
    background-color: #E3E3E3;
}
.view-eventlist .views-row, .view-promotionslist .views-row {
    background-color: white;
    margin-bottom: 40px;
}
.view-eventlist .views-row-last {
    margin-bottom: 10px;
}
.node-type-events .view-display-id-block_4 .views-row,
.page-node-377 .view-eventlist .views-row,
.page-node-419 .view-eventlist .views-row,
.page-node-428 .view-eventlist .views-row{
    background: transparent;
}
.view-eventlist .views-row .col-md-3.views-fieldset, .view-promotionslist .views-row .col-md-3.views-fieldset{
    text-align: center;
} 




.testoperadv{
    position: absolute;
    top: 74%;
    left: 70%;
    color: white;
    font-size: 20px;
} 
#tb-megamenu-column-5 {
    height: 300px;
}

.header .primary .sub {
    border:none;
    box-shadow:none;
}


.testoperadv:after {
  left: 105%;
  top: 46%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 10px;
  margin-top: -10px;
}

/* Scroll down button */
.demo a {
    color: transparent;
    position: absolute;
    bottom: -100px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}


#section05 a {
    padding-top: 25px;
}
#section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.page-node-383 th {
    font-size: 20px!important;
}
.page-node-383 td {
    font-size: 18px;
}
/* Last */
#block-views-eventlist-block-1,
#block-views-eventlist-block-4,
#block-views-eventlist-block-5,
#block-views-fourblock-block-5
{
    padding-top: 40px;
    padding-bottom: 30px;

}

#block-views-eventlist-block-4 .caption {
    margin-bottom: 0px;
}
.nd-region {
    padding-bottom: 0px!important;
}
#block-views-slotfocus-block-2 p,
.stream li .section-text {
    letter-spacing: 1px;
    text-align: left;
    line-height: 15px;
    font-size: 14px;
    font-family: 'lato';
}
.dcsns
{
    padding-bottom: 30px;
}
.views-field-field-urlink {
    margin-bottom: 10px;
}
.view-slotfocus .views-field.views-field-title {
    line-height: 16px;
    margin-top: 4px;

}
.categoriaEvento {
    background-color: var(--oro);
    height: 26px;
    color: white;
    font-family: 'casinoRegular';
    text-transform:uppercase ;
    letter-spacing: 1px;
padding-top: 3px;
}
.view-display-id-block_3 .demo,
.view-display-id-block_8 .demo{
    display: none;
}
.view-display-id-block_3 .caption, .view-display-id-block_3 .caption img,
.view-display-id-block_8 .caption, .view-display-id-block_8 .caption img{
    margin-bottom: 0px;
}
.view-display-id-block_3 .caption,
.view-display-id-block_8 .caption{
    margin-bottom: -7px;
}
.node-type-game .col-md-12{
    margin-bottom: 30px;
}

.view-display-id-block_1 #views-bootstrap-grid-1 .field-content p {
    line-height: 19px; /* Blocco lista giochi */
}

.view-display-id-block_1 #views-bootstrap-grid-1 .views-field-body {
    margin-top: 8px;
    height: 65px;
}
.view-display-id-block_1 #views-bootstrap-grid-1 h6 {
    font-size: 14px;
    letter-spacing: 0px;
}
.view-display-id-block_1 #views-bootstrap-grid-1 .row,
.view-display-id-block #views-bootstrap-grid-1 .row{
    margin-bottom: 30px;
}
.view-display-id-block h6 {
    height: 50px;
}
.view-orarisedi h6 {
    height: 20px;
    margin-bottom: 0px;
}
.view-display-id-block .embedded-video {
    height: 141px;
}
.view-display-id-block .field-content p{
    text-align: justify;
}
.contenitoreTabella .table {
    text-align: left;
}

.contenitoreTabella .table td,
.contenitoreTabella .table th
{
    padding: 8px!important;
}
.contenitoreTabella .table td.cellaBianca {
    background-color: white;
    padding: 10px 0 23px 0!important;
}
.contenitoreTabella .table td.riduciAltezza {
    padding: 5px 0 5px 0!important;
}
.contenitoreTabella .table th.cellaTrasparente {
    background-color: white!important;
}
.testa th {
    border: 1px solid #ffffff;
}
.cellaBianca p {
    line-height: 20px;
}
.node-type-contenitorepagina.page-node-383 #content {
    padding-bottom: 50px;
}
.turnPage {
    background-size: 100% 100%;
}
#Footer-Top p, #Footer-Bottom p {
    text-align: center!important;
}
.busta svg {
    top:0px!important;
}
#Footer-Top svg {
    top: -2px;
}
#Footer-Top a {
    text-decoration: none;
}
#Footer-Top h2 {
    margin-bottom: 10px;
}
#Footer-Top a,#Footer-Top p {

    line-height: 24px;
}
.policy p{
    text-align: center;
    margin-bottom: 5px;
}
.icone a {
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: 8px 5px;

}
.page-node-220 .slick-slide .fieldset {
    max-height: 150px;

}
.slick-next {
    right: -55px!important;
}
.slick-prev {
    left: -55px!important;
}
#section05 a span {
    color: transparent;
}
.mb_YTPBar{
    display: none!important;
}
.page-node-373 #content{
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.page-node-408 #content,
.page-node-404 #content{
    margin-bottom: 50px;
    padding-bottom: 50px;
}
#block-views-turnview-pdf {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'sofia-pro';

}
#block-views-turnview-pdf a{
    color: var(--oro);
}
.sezione {
height: 0px;
    visibility: hidden;
    position: relative;
    top: -200px;
}
.padding50 {
    padding: 50px!important;
    background-color: white;
}
.eliminaMargine {
    margin-bottom: 0px!important;
}
.page-node-220 #mc_embed_signup h2 {
    font-family: 'casinoRegular';
    text-align: center;
}
.page-node-220  .mc-field-group.input-group {
    left: 20px;
    display: table;
    margin: 20px 0;
}
.page-node-220  .mc-field-group {
    font-family: 'sofia-pro';
}
.page-node-220  .mc-field-group.input-group strong,.page-node-220  .mc-field-group.input-group ul {
    display: table-cell;
    vertical-align: top;
    line-height: 16px;
}
.page-node-222 #content,
.page-node-223 #content,
.page-node-227 #content,
.page-node-228 #content,
.page-node-229 #content,
.page-node-230 #content,
.page-node-221 #content,
.page-node-231 #content,
.page-node-232 #content,
.page-node-233 #content,
.page-node-234 #content,
.page-node-236 #content,
.page-node-235 #content,
.page-node-237 #content,
.page-node-245 #content,
.page-node-246 #content{
    margin: 50px;
    padding: 50px;
    background-color: white;
    border-bottom: 5px solid var(--oro);
    border-top: 5px solid var(--oro);
}
.page-node-245 #content,
.page-node-246 #content{
    margin: 50px 0;
    padding: 50px;
    background-color: white;
    border-bottom: 5px solid var(--oro);
    border-top: 5px solid var(--oro);
}
#block-block-41 a, #block-block-41 a:visited,
#block-block-41--2 a, #block-block-41 a:visited,
#block-block-40 a, #block-block-40 a:visited{
    color: var(--oro);
}
.bloccoDress {
    height: 230px;
}
.altezzaBloccoSedi{
    height: 550px;
}
.archivio,
.page-taxonomy #Content
{
    margin: 50px;
    padding: 50px;
    background-color: white;
    border-bottom: 5px solid var(--oro);
    border-top: 5px solid var(--oro);
}
.archivio .entry-content,
.archivio h2,
.page-taxonomy #Content h2{
    margin-bottom: 0px!important;
}
.page-taxonomy .field-name-body a {
    color: black;
}
.page-node-381 #block-block-32,
.page-node-381 #block-block-33,
.page-node-464 #block-block-32,
.page-node-464 #block-block-33,
.page-node-466 #block-block-32,
.page-node-466 #block-block-33{
    height: 600px;
}
.webform-component--testo p{
    color: black;
}
.webform-component--testo a,
#mc_embed_signup a,
#block-block-42 a:visited{
    color: var(--oro);
}
#block-views-slotcalendar-block .mb_YTPlayer iframe,
#block-views-slotcalendar-block img{
    max-height: 141px;
}